:root {
	--header-background: #ffffff;
	--background: #ffffff;
	--form-background: 'transparent';
	--button-hover: #2950BF;
	--button-focus: #3969EF;
	--title: #1A0DAB;
	--visited: #bb9af7;
	--border: #d9d9d9;
	--font: #222222;
	--font-desc: #494949;
	--form-font: #000000;
	--turtle-color: #000000;
	--search-button: #c0c0c0;
	--search-button-focused: #ffffff;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

.theme-dark, body:not(.has-results) {
	--header-background: #161616;
	--background: #1c1c1c;
	--form-background: #333333;
	--button-hover: #2950BF;
	--title: #7aa2f7;
	--visited: #bb9af7;
	--border: #303246;
	--font: #ffffff;
	--font-desc: #cccccc;
	--form-shadow: rgb(0 0 0 / 30%);
	--form-font: #ffffff;
	--turtle-color: #ffffff;
	--search-button: #ffffff;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: var(--background) center center / cover no-repeat fixed;
	color: var(--font);
	font-family: 'SF Pro Text', Sans-Serif, sans-serif;
	font-size: 14px;
	line-height: 1.4;
}

hr {
	width: 1px;
	background-color: var(--border);
	border: none;
}

a {
	color: var(--title);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	padding: 0;
	margin: 0;
	color: var(--visited)
}

p {
	line-height: 1.4;
}

#app {
	display: none;
	align-self: center;
	min-height: 80%;
	padding: 2em 0;
	margin: 2.9em 0;
}

.is-loading {
	#app {
		opacity: .5;
	}
}

.has-results {
	display: block;
	background-image: none !important;

	#app {
		display: flex;
	}
}

@import "header";
@import "result";
@import "switch";
